# python is python3
alias python='python3'
# Lazygit
alias lg='lazygit'
# [f]ile [o]pen: open anything, using rifle as the opener
alias fo='cd ~ && fd . --type f --hidden --follow --exclude .git | fzf | while read -r file; do rifle "$file"; done'
# [d]ir [c]hange
alias dc='cd ~ && fd . --type d --hidden --follow --exclude .git | fzf | while read -r dir; do cd "$dir"; done'
# [s]ource .zshrc
alias so='source ~/.zshrc'
# [n]eovim [d]ot[f]iles
alias ndf='cd ~/dotfiles/nvim/.config/nvim/ && nvim .'
# [g]it [s]tatus
alias gs='git status'
# [g]it [l]og
alias gl='git log --oneline'
# make R not prompt to save workspace on exit
alias R='R --no-save'
# [n]uclear [r]e[m]ove
alias nrm='sudo rm -r'
# clear the terminal
alias cl='clear'
# make dir (and all non-existent directories in the specified path)
alias md='mkdir -p'
